<h1>Display Your Team Here</h1>

<h2>Team Name: <%= @new_team.name %></h2>
<h2>Team Motto: <%= @new_team.motto %></h2>


<h2>Hero 1</h2>

<h3>Hero Name: <%= @member1[:name] %></h3>
<h3>Hero Power: <%= @member1[:power] %></h3>
<h3>Hero Biography: <%= @member1[:biography] %></h3>


<h2>Hero 2</h2>

<h3>Hero Name: <%= @member2[:name] %></h3>
<h3>Hero Power: <%= @member2[:power] %></h3>
<h3>Hero Biography: <%= @member2[:biography] %></h3>

<h2>Hero 3</h2>

<h3>Hero Name: <%= @member3[:name] %></h3>
<h3>Hero Power: <%= @member3[:power] %></h3>
<h3>Hero Biography: <%= @member3[:biography] %></h3>
